<%=form_with(model: task,local: true) do |f|%>
    <%if task.errors.any?%>
        <div id='error_explanation'>
            <ul>
                <%=render 'layouts/error_message',model: f.object%>
            </ul>
        </div>
    <%end%>
    <div class='row'>
        <div class='col-sm-6 offset-sm-3'>
            
            <div class='form-group '>
                <%=f.label :content,'タスク'%>
                <%=f.text_field :content,class:'form-control'%>
            </div>
            <div class='form-group mb-4'>
                <%=f.label :status,'ステータス'%>
                <%=f.text_field :status,class:'form-control'%>
            </div>
        </div>
    </div>
         <div class='row'>
             <%=link_to '一覧に戻る',tasks_path,class:'btn btn-primary btn-block offset-sm-1 col-sm-2 pt-2'%>
            <%=f.submit '完了',class:'btn btn-primary btn-block col-sm-2 offset-sm-6 pt-2'%>
            
        </div>
<%end%>