<div class='text-center'>
    <h1>タスク詳細ページ</h1>
</div>
<table class='table'>
    <tr>
        <th class='text-center'>タスク内容</th>
        <th class='text-center'>タスク状況</th>
    </tr>
    <tr>
        <td class='text-center'><%=@task.content%></td>
        <td class='text-center'><%=@task.status%></td>
    </tr>
</table>

<div class='row mt-5'>
    
    <%=link_to '戻る',tasks_path,class:'btn btn-primary col-2 offset-1'%>

    <%=link_to '編集',edit_task_path(@task),class:'btn btn-primary  col-2 offset-2'%>

    <%= link_to'削除',@task,method: :delete,data:{confirm: '本当に削除してよろしいですか？' } ,class:'btn btn-primary col-2 offset-2'%>
</div>

<!--<style>-->
<!--    .test {-->
<!--        display: -webkit-flex;-->
<!--        display: flex;-->
<!--        -webkit-justify-content: center;-->
<!--        justify-content: center;-->
<!--        -webkit-align-items: center;-->
<!--        align-items: center;-->
<!--        height: 200px;-->
<!--    }-->
<!--    .btn {-->
<!--        padding: 10px;-->
<!--    }-->
<!--</style>-->