<h1>タスク詳細ページ</h1>

<h2>ステータス：<%=@task.status%></h2>

<h3>タスク：<%=@task.content%></h3>


<%=link_to '一覧に戻る', tasks_path%>

<%=link_to 'このタスクを編集する',edit_task_path(@task)%>

<%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>


