<!DOCTYPE html>
<html>
  <head>
    <title>Tasklist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p><%=render 'layouts/flash_tasks'%></p>
      <%=link_to 'tasklist', root_path%>
      <%if logged_in?%>
      <%=link_to 'My profile',user_path(current_user)%>
      <%= link_to 'Logout', logout_path, method: :delete %>

      <%else%>
      <%=link_to 'signup', signup_path%>
      <%=link_to 'login', login_path%>
      <%end%>
      
      <%= yield %>
    </div>
    
  </body>
</html>
